.basic{
    /*padding: 2px;*/
    /*margin: 1px;*/
    display: flex;
    justify-content: center;
}

.search-section{
    width: 100%;
    align-items: center;
}
.search-field{
    width: 50%;
    padding: 2px;
}

.search-button{
    background-color: lightblue;
    color: white;
    columns: 1;
}

.down-section{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu-div{
    /*width: 75%;*/
    /*width: auto;*/
    display: inline-block;
}

.filters{
    width: 20%;
    /*margin: 1px;*/
    /*padding: 2px;*/
    display: inline-block
}

.left-hor-sec{
    background: aqua;
}

.checkbox-btn-group {
    display: inline-block;
}

.two-column-checkgroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* розрив між стовпцями */
}

.item_div{
    width: 300px;
    height: 250px;
    display: inline-block;
}

.image{
    padding: 20px;
    border-radius: 20px;
    width: 230px;
    height: 170px;
}

.info {
    /*border: 1px solid #000;*/
    /*background-color: #06b535;*/
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.width-60{
    width: 70%;
}

.width-30{
    width: 30%;
}

.width-18{
    width: 18px;
}

.gap{
    gap: 20px;
}

.category-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: #1d1d2b;
    border-top: #000000;
}

.cuisine-type{
    color: #0074D9;
    font-weight: bold;
    font-size: smaller;
}