.basic{
    /*padding: 2px;*/
    /*margin: 1px;*/
    display: flex;
    justify-content: center;
}

.search-section{
    width: 100%;
    align-items: center;
}
.search-field{
    width: 50%;
    padding: 2px;
}

.search-button{
    background-color: lightblue;
    color: white;
    columns: 1;
}

.down-section{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu-div{
    width: 100%;
    /*width: auto;*/
    display: inline-block;
}

.filters{
    width: 20%;
    /*margin: 1px;*/
    padding-left: 1%;
    display: inline-block
}

.left-hor-sec{
    background: aqua;
}

.checkbox-btn-group {
    display: inline-block;
}

.two-column-checkgroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.item-div{
    width: 300px;
    height: 250px;
    display: inline-block;
    margin-top: 30px;
}

.image{
    border-radius: 20px;
    width: 230px;
    height: 170px;
}

.info {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.width-60{
    width: 70%;
}

.width-30{
    width: 30%;
}

.width-18{
    width: 18px;
}

.gap{
    gap: 20px;
}

.cuisine-type{
    color: #0074D9;
    font-weight: bold;
    font-size: smaller;
}

.checkbox-table {

    display: flex;
    flex-direction: row;
}

.checkbox-cell {
    width: 33%;
    align-content: center;
}

.custom-checkbox{
    --vaadin-checkbox-checkmark-char: --lumo-icons-cross;
}

.restaurant-page-info-div{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 60%;
    margin: 3%;
}

.imageDiv{
    width: 100%;
    display: inline-block;
}

.curr-restaurant-info-div{
    width: 40%;
    display: inline-block;
    margin: 3%;
}

.restaurant-info-div{
    display: inline-block;
    justify-content: center;
    padding: 3%;
}

.restaurant-info-div *{
    padding-bottom: 10px;
}

.restaurant-data{
    width: 80%;
}

.pagination-controls{
    display: flex;
    justify-content: center;
}

.pagination-controls*{
    margin: 3%;
}

.fit-c{
    width: 100%;
    height: auto;
}

.review-div{
    width: 48%;
    height: 50%;
    margin: 3%;
    /*background: #2b908f;*/
}

.login-button{
    display: flex;
    align-self: end;
}